*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  /* makes sure our HTML takes up 100% of the browser windows */
  font-size: 100%;
}

body {
  font-family: 'Open Sans';
  /* sets our font to Open Sans typeface*/
  min-height: 100%;
  /* says the height of the body must be at least 100% of window */
}

.logged-out {
  background: url('./images/blah.jpg') no-repeat 0 0;
  min-height: 800px;
}

.logged-out .chatroom-container {
  display: none;
}
