.message-list {
  background: #fff;
  height: calc(100vh - 190px);
  list-style-type: none;
  overflow: auto;
  padding: 0 25px;
  width: 100%;
}

p.list-item,
p.list-item > * {
  height: auto !important;
  white-space: normal;
}

.message-list-item {
  border-bottom: 1px solid #bbb;
  padding: 5px 0;
}

.message-item-date {
  color: #bbb;
  font-size: .75rem;
  margin-left: 10px;
}

.message-send {
  background: #f1f1f1;
  border-top: 1px solid #ddd;
  bottom: 0;
  position: fixed;
  padding: 10px 10px 10px 38px;
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .message-send {
    margin-left: 0;
    width: 100%;
  }
}
