.room-list {
  padding: 20px;
}

.room-list-title-bar {
  align-items: center;
  display: flex;
  margin-left: 16px;
  min-height: 25px; /* prevents vertical shifting when hiding/showing form */
}

.room-list-add-toggle {
  margin-left: 25px;
}

.room-list-add-toggle > button {
  height: 30px !important;
  width: 30px !important;
}

.room-list-add-toggle svg {
  height: 30px !important;
}

.room-list-add-form {
  max-width: 200px;
}

.room-list-add-btn,
.room-list-add-cancel {
  width: 100%;
}

.room-list-add-cancel {
  margin-top: 10px;
}

.room-list-add-txt {
  padding-bottom: 0;
}

.room-list-item.active {
  background: #2196F3 !important;
  color: #fff !important;
}
