.logged-out .user {
  background: rgba(255,255,255,.9);
  width: 350px;
  height: 250px;
  border: 2px solid firebrick;
  text-align: center;
  padding-top: 40px;
  position: fixed;
  top: calc(50vh - 125px);
  left: calc(50vw - 175px);
}
